<!--Main Navigation-->

<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <a class="navbar-brand" href="/"><strong>응용프로그래밍</strong></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/music">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/movie">Movie</a>
      </li>
    </ul>
    <% if (user === null) { %>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="/api/user/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/user/signup">Sign Up</a>
      </li>
    </ul>
    <% } else { %>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="/api/user/profile"><%= user.name %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/user/logout">Log out</a>
      </li>
    </ul>
    <% } %>
  </div>
</nav>

<!--Main Navigation-->
